<div class="bg">

</div>
<div class="card-wrapper">
  <div *ngIf="professor" class="professor-details">
    <h2>Professor Details</h2>
    <dl>
      <span class="prof-name">{{ professor.name | titlecase }}</span>
      <span class="prof-subject"> - [{{ professor.subject }}]</span>
      <div class="prof-cin">CIN: {{ professor.cin }}</div>
      <div class="flex-wrapper">
        <div class="prof-mail"><mat-icon class="icon">alternate_email</mat-icon> {{ professor.email }}</div>
        <div class="prof-phone"><mat-icon class="icon">phone</mat-icon>{{ professor.telephone }}</div>
      </div>
    </dl>
    <h2>Students</h2>
    <button routerLink="/home" class="return-button">Return</button>
  </div>
</div>
